.App {
  text-align: center;
}
.loginContainer{
  width: 60%;
  height: 25em;
  margin: auto;
  margin-top: 25vh;
  background-color: rgb(236, 232, 232);
  padding: 20vh;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  
}
.signInButton{
  width: 12em;
  height: 6em;
  border-radius: 0.8em;
  font-size: large;
}